* {
  box-sizing: border-box;
  margin: 0;
}

.color {
  width: 500px;
  height: 500px;
  border: 3px solid black;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.red {
  background-color: red;
}

.color.yellow {
  background-color: yellow;
}
